In [1]:
import pandas as pd

In [2]:
file_name = 'SPECIAL ORDER TEMPLATE.xlsx'

order = pd.read_excel(file_name, sheet_name = 'order')
details = pd.read_excel(file_name, sheet_name = 'details')
supp_code = pd.read_excel(file_name, sheet_name = 'supp_code')
whse = pd.read_excel(file_name, sheet_name = 'whse')

supp_code.head()

                        SUPPLIER   BP Code
0      AFRICA (Sky) HOLDINGS LTD  C0000002
1  AIRTEL NETWORKS KENYA LIMITED  C0000003
2            ALKEN KENYA LIMITED  C0000004
3             ALPINE COOLERS LTD  C0000005
4     SUPER XPRESS PERTOLEUM LTD  C0000006

In [3]:
order = pd.merge(order, whse, on = 'STORE NAME')
order.head()

      CODE  QUANTITY                  STORE NAME  STORE CODE
0  1111140         2  Goodlife  Greenpark Estate         131
1  1107642         1  Goodlife  Greenpark Estate         131

In [4]:
order = pd.merge(order, details, on = 'CODE')
order = order.set_index(order.columns[0], drop=True)
order.head()

,QUANTITY,STORE NAME,STORE CODE,SUPPLIER,STATUS,CATEGORY
CODE,,,,,,
1111140,2,Goodlife Greenpark Estate,131,HARLEYS LIMITED,END OF LIFE,OTC
1107642,1,Goodlife Greenpark Estate,131,OMAERA PHARMACEUTICALS LIMITED,ACTIVE,CHRONIC MED

In [5]:
order = pd.merge(order, supp_code, on = 'SUPPLIER')
order.head()

,QUANTITY,STORE NAME,STORE CODE,SUPPLIER,STATUS,CATEGORY,BP Code
0,2,Goodlife Greenpark Estate,131,HARLEYS LIMITED,END OF LIFE,OTC,C0000076
1,1,Goodlife Greenpark Estate,131,OMAERA PHARMACEUTICALS LIMITED,ACTIVE,CHRONIC MED,C0000434

In [33]:
order.to_excel('To_order.xlsx')