In [1]:
import pandas as pd

In [15]:
file_name = 'SPECIAL ORDER TEMPLATE.xlsx'

order = pd.read_excel(file_name, sheet_name = 'order')
details = pd.read_excel(file_name, sheet_name = 'details')
whse = pd.read_excel(file_name, sheet_name = 'whse')

whse.head()

              Display name  Store code
0        Goodlife Junction           2
1  Goodlife Ridgeways Mall           3
2         Goodlife Malindi           4
3       Goodlife Greenspan           5
4    Goodlife Nyali Naivas           6

In [13]:
order = order.merge(whse, left_on ='STORE NAME', right_on = 'Display name')
order.head()

,CODE,Unnamed: 1,QUANTITY,Unnamed: 3,Unnamed: 4,Unnamed: 5,WHSE,SUPPLIER,STORE NAME,STATUS,CATEGORY,Display name_x,Store code_x,Display name_y,Store code_y
0,1111140,NaN,2,NaN,NaN,NaN,NaN,NaN,Goodlife Greenpark Estate,NaN,NaN,Goodlife Greenpark Estate,131,Goodlife Greenpark Estate,131
1,1107642,NaN,1,NaN,NaN,NaN,NaN,NaN,Goodlife Greenpark Estate,NaN,NaN,Goodlife Greenpark Estate,131,Goodlife Greenpark Estate,131
2,1111140,NaN,2,NaN,NaN,NaN,NaN,NaN,Goodlife Greenpark Estate,NaN,NaN,Goodlife Greenpark Estate,131,Goodlife Greenpark Estate,131
3,1107642,NaN,1,NaN,NaN,NaN,NaN,NaN,Goodlife Greenpark Estate,NaN,NaN,Goodlife Greenpark Estate,131,Goodlife Greenpark Estate,131
4,1111140,NaN,2,NaN,NaN,NaN,NaN,NaN,Goodlife Greenpark Estate,NaN,NaN,Goodlife Greenpark Estate,131,Goodlife Greenpark Estate,131